/* for home page*/
nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 769px) {

    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

.container {
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    border: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-container {
    position: relative;
    background-color: #FEFAE0;
    padding: 200px;
    text-align: center;
}

.middle-container {
    background-color: white;
    margin: 100px 0;
    text-align: center;
}

.bottom-container {
    background-color: #FEFAE0;
    padding: 50px 0 2px;
    text-align: center;
}

body {
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

a {
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 10px;
    text-decoration: none;
}

a:hover {
    color: #11cdd4;
}

hr {
    width: 5%;
    border: dotted #D8D8D8 6px;
    border-bottom: none;
    margin: 50px auto 50px;

}

h1 {
    font-size: 5.626rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #7AA874;
}

@media (max-width: 769px) {
    h1 {
        font-size: 3.626rem;
    }
}

@media (max-width: 325px) {
    h1 {
        font-size: 2.626rem;
    }
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 auto;
    color: #7AA874;
    padding-bottom: 10px;
}

@media (max-width: 769px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 325px) {
    h2 {
        font-size: 1rem;
    }
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #7AA874;
}

.portfolio-text {
    text-decoration: underline;
}

.name {
    color: #7AA874;
}

.my-picture {
    border-radius: 260px;
    width: 10%;
    height: 180px;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 40px;
    padding-top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
    padding-top: 100px;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;

}

.computer-picture {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli {
    width: 18%;
    float: right;
    margin-left: 30px;
}


.profile-text {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.contact-message {
    width: 40%;
    margin: 40% auto 60%;
}

.auto-type {
    color: #617143;
    text-decoration: underline;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    color: #191717;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

/*for contact page*/
.contact-me-container {
    position: relative;
    background-color: #FEFAE0;
    padding: 50px;
}

input {
    width: 200px;
    height: 20px;
    margin: 5px auto 5px auto;
}

textarea {
    resize: horizontal;
    margin: 5px auto 5px auto;
}

button {
    font-family: 'Montserrat', sans-serif;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px auto 10px auto;
}

button:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}