.fixed-table {
    table-layout: fixed;

}

.cv-text {
    font-size: 2.626rem;
    font-family: 'Sacramento', cursive;
    color: #fff;
}

@media (max-width: 1000px) {
    .container {
        font-size: 0.65rem;
    }
}

@media (max-width: 400px) {
    .container {
        font-size: 0.45rem;
    }
}